body {
    background-image: url('/static/img/2025-10-11_14.21.27.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.animate__animated.animate__bounce {
    --animate-duration: 3s;
}

.card {
    background-color: rgba(0, 0, 0, 0.26) !important;
    backdrop-filter: blur(3px);
}

.card.border-secondary {
    background-color: rgba(0, 0, 0, 0.26) !important;
    backdrop-filter: blur(3px);
}

.custom-border {
    border-color: #696969;
}

.list-group-item {
    background-color: transparent !important;
    border: none;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(1px);
    color: #F0FFF0;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #F0FFF0;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

h1, h2, h3, h4 {
    margin-top: 15px;
    font-family: monospace;
}

._form {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-family: monospace;
}

.form-control::placeholder {
    color: #A9A9A9;
    opacity: 0.7;
}

.otstup {
    margin-top: 8px
}

.card-body img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}