.animate__animated.animate__bounce {
  --animate-duration: 3s;
}
body {
    background-image: url('/static/img/фон.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dropdown-menu {
    background-color: rgba(52, 58, 64, 0.8) !important;
    backdrop-filter: blur(2px);
}
.dropdown-item {
    background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-full-width {
    background-color: transparent !important;
    position: static !important;
}

.dropdown-full-width .dropdown-menu {
    width: 100%;
    left: 0,01;
    right: 0,01;
    transform: none !important;
    margin-top: 0.000000000001rem;
}

.navbar {
    position: relative;
}

<style>
    iframe {
        display: block;
        width: 100%;
        height: 600px;
        border: none;
        pointer-events: auto;
        transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    .dropdown-menu iframe {
        position: relative;
        z-index: 1;
    }
</style>


.card_back {
    background-color: rgba(141, 145, 122, 0.1) !important;
    backdrop-filter: blur(1px);
}

.b{
    margin-top: 50px;
}

.t{
    margin-top: 200px;
    font-family: MS Sans Cerif, sans-serif;

}

.otstup {
    margin-right: 20px;
    }
.btn-wide {
    width: 130px;
    min-width: 130px;
}

.otstup_ {
    margin-right: 100px;
    }

.card {
    margin: 0 auto;
    border: 3px solid rgba(218, 165, 32, 0.5);  /* Рамка: толщина, тип, цвет */
    border-radius: 15px;  /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Тень для объема */
    overflow: hidden;
}


.hover-card {
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    margin-bottom: 30px;

}

.hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    z-index: 1;
}

.card_max {
    width: 40rem;
    height: 600px;
    cursor: pointer;
    overflow: hidden;
}
.card_min {
    width: 40rem;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
}

.card-text-wrapper {
    position: relative;
    display: inline-block;
}

.card-text-wrapper::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffc107;
    transition: width 0.4s ease-in-out;
}

.hover-card:hover .card-text-wrapper::after {
    width: 100%;
}


