body {
    background-image: url('/static/img/2025-01-17_18.52.54.png');
}
.card {
    background-color: rgba(141, 145, 122, 0.1) !important;
    backdrop-filter: blur(1px);
}

.card.border-secondary {
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(3px);
}

.custom-border {
    border-color: #696969;
}

.list-group-item {
    background-color: transparent !important;
    border: none;
}

h1, h2, h3, h4{
            margin-top: 15px;
            font-family: Monospace, navbar-brand
            }
form {
        margin-top: 90px;
        }
.navbar-brand {
    font-family: Monospace, navbar-brand
}
