.animate__animated.animate__bounce {
  --animate-duration: 3s;
}
body {
    background-image: url('/static/img/фон.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    position: relative;
}

.b{
    margin-top: 50px;
}

.t{
    margin-top: 200px;
    font-family: MS Sans Cerif, sans-serif;

}

.card-text{
color: white
}
.card-title{
color: white
}

.btn-wide {
    width: 130px;
    min-width: 130px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(1px);
    color: #F0FFF0;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #F0FFF0;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}


.card {
    background-color: rgba(0, 0, 0, 0.26) !important;
    backdrop-filter: blur(3px);
}

.card.border-secondary {
    background-color: rgba(0, 0, 0, 0.26) !important;
    backdrop-filter: blur(3px);
}