{% extends "base_log.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card border-secondary mb-4" style="width: 28rem;">
                    <div class="card-body">
                        <h5>Already have an account?</h5>
                        <h1 style="color: #f9c751">Log In Here</h1>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item">
                        <div style="light">
                            {{ form.username_log(class="form-control custom-border", placeholder="Username") }}<br>
                            {% for error in form.username_log.errors %}
                        </div>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <div style="light">
                            {{ form.email_log(class="form-control custom-border", placeholder="email") }}<br>
                            {% for error in form.email_log.errors %}
                        </div>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                            {{ form.password_log(class="form-control custom-border", type="password", placeholder="Password") }}<br>
                            {% for error in form.password_log.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </li>
                    </ul>
                    <div class="container text-center">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <p> </p>
                            </div>
                            <div class="col">
                                <p>{{ form.submit_log(type="submit", class="btn-3d btn-info btn-lg") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-auto">
                <div class="card border-secondary mb-4" style="width: 28rem;">
                    <div class="card-body">
                        <h5>Don't have an account?</h5>
                        <h1 style="color: #f9c751">Register Now</h1>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item">
                        <div>
                            {{ form.username_reg(class="form-control custom-border", placeholder="Username", required=False) }}<br>
                            {% for error in form.username_reg.errors %}
                        </div>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <div>
                            {{ form.email_reg(class="form-control custom-border", placeholder="email", required=False) }}<br>
                            {% for error in form.email_reg.errors %}
                        </div>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                            {{ form.password_reg(class="form-control custom-border", type="password", placeholder="Password", required=False) }}<br>
                            {% for error in form.password_reg.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                            {{ form.confirm_password_reg(class="form-control custom-border", type="password", placeholder="Confirm_Password", required=False) }}<br>
                            {% for error in form.confirm_password_reg.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </li>
                    </ul>
                    <div class="container text-center">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <p> </p>
                            </div>
                            <div class="col">
                                <p>{{ form.submit_reg(type="submit", class="btn-3d btn-info btn-lg") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}